# -*- mode: yaml -*-

nixpkgs: import ./nixpip/data/nixpkgs.nix

requirements:
  inputs:
    - requirements.open
    - test_requirements.open
  output: requirements.nix
  packages: []

setup_requires:
  munch:
    - six

build_inputs:
  pygraphviz:
    - graphviz
    - pkgconfig
  ruamel.yaml:
    - libyaml
