buildPythonPackage {{
  name = "{name}-{version}";
  src = {fetcher};
  format = "{format}";
  buildInputs = [ {buildInputs} ];
  propagatedBuildInputs = [ {pythonDependencies} ];
  doCheck = {doCheck};
}}
